.card {
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  min-height: 320px;
}

.sky-orange { background-color: rgb(235, 200, 137); }
.off-white { background-color: #F8F9FA; }
.grass-green { background-color: #92dda3; }

.card-title {
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-size: 14px;
  text-align: justify;
}
