<nav class="navbar navbar-expand-lg navbar-light bg-info-subtle">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand d-none d-md-block" href="/">
      <img src="assets/images/cCauvery_logo_wbg.png" alt="cCauvery Logo"
        class="img-fluid" style="max-height: 100px;">
    </a>
    <a class="navbar-brand d-block d-md-none" href="/">
      <img src="assets/images/cCauvery_SMV.png" alt="cCauvery Logo"
        class="img-fluid" style="max-height: 80px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
      aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav fw-bold">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/vision">Vision</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/missions">Mission</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/member_institutes">Member Institutes</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="teamsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Teams
          </a>
          <ul class="dropdown-menu" aria-labelledby="teamsDropdown">
            <li><a class="dropdown-item" routerLink="/teams/iisc">IISc</a></li>
            <li><a class="dropdown-item" routerLink="/teams/nitt">NITT</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/CAMP">CAMP</a></li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
            <li><a class="dropdown-item" routerLink="/events">IWIS</a></li>
            <li><a class="dropdown-item" routerLink="/events">Activities</a></li>
          </ul>
        </li> -->

        <li class="nav-item"><a class="nav-link" routerLink="/data-repository">Data</a></li>
      </ul>
    </div>
  </div>
</nav>
<hr class="my-0 border border-dark border-3">

<div style="min-height: 70vh;">
  <router-outlet></router-outlet>
</div>

<footer style="background-color: rgb(215, 255, 255);">
  <hr style="height: 10px; border-width: 0; background-color: black;">
  <div class="container-fluid">
    <div class="row align-items-center text-md-left text-center">
      <div class="col-md-4 ms-md-5 me-md-2 mb-3 mb-md-0 text-start order-2 order-md-1">
        <h5>Centre for Cauvery River Basin Management & Studies (cCauvery)</h5>
        <p class="mb-0">
          Ground Floor, Interdisciplinary Centre for Water Research<br>
          Indian Institute of Science, Bengaluru – 560012, INDIA.
        </p>
      </div>
      <div class="col-md-4 me-md-2 mb-3 mb-md-0 order-1 order-md-2 d-flex justify-content-center justify-content-md-start">
        <img src="assets/images/cCauvery_logo_wbg.png" alt="cCauvery Logo" class="img-fluid">
      </div>
      <div class="col-md-3 mb-3 mb-md-0 ms-md-5 text-start order-3 order-md-3">
        <h5>Contact Us</h5>
        <p class="mb-1">
          <i class="fas fa-phone"></i> Phone: 080 2293 2740<br>
          <i class="fas fa-envelope"></i> E-mail:
          <a [href]="emailHref" style="text-decoration: none;" [innerHTML]="email"></a>
        </p>
        <p class="text-muted" style="font-size: small;">
          <i>&copy; 2025 All Rights Reserved.</i>
        </p>
      </div>
    </div>
  </div>
</footer>
