<div class="container text-center">
  <h1 class="my-5">Condition Assessment and Management Plan (CAMP)</h1>
  <p style="text-align: justify;">The “Condition Assessment and Management Plan (CAMP)” is a notable initiative of National River Conservation Directorate (NRCD), Department of Water Resources, River Development and Ganga Conservation (Do WR, RD & GR), Ministry of Jal Shakti (MoJS), Government of India, aimed at guiding the management strategies for six major rivers in the country. This program involves twelve premier technical educational institutions, which will contribute to shaping these strategies. The rivers covered under this plan are the Mahanadi, Narmada, Godavari, Krishna, Cauvery, and Periyar. For each river, two prominent institutions within the basin states are responsible for conducting research, monitoring, and gathering technical data for condition assessment and management planning. The selected institutions include IITs, NITs, and NEERI.</p>
  <p style="text-align: justify;">In this reference, the Centre for Cauvery River Basin Management and Studies (cCauvery), a brain trust dedicated to river science and river basin management, was established in 2024 by IISc Bengaluru and NIT Tiruchirappalli, under the mentorship of cGanga at IIT Kanpur, the centre serves as a knowledge wing of the National River Conservation Directorate (NRCD). cCauvery is committed to restoring and conserving the Cauvery River and its resources through collating information and knowledge, research and development, planning, monitoring, education, advocacy, and stakeholder engagement. The highlights of cCauvery are:</p>
</div>
<div class="container">
  <ul>
    <li><a href="../../../assets/PDFs/MoA.pdf" target="_blank" rel="noopener noreferrer">MoA</a></li>
    <li><a href="../../../assets/PDFs/JRC.pdf" target="_blank" rel="noopener noreferrer">Joint Review Committee</a></li>
    <li><a href="../../../assets/PDFs/List_of_ThematicGroups&Experts.pdf" target="_blank" rel="noopener noreferrer">Thematic Groups</a></li>
  </ul>
</div>
